.c-left-right-block {
  $c: &;

  display: grid;
  grid-template-columns: var(--twelve-column-grid);
  padding-bottom: 0;

  .c-heading {
    margin-bottom: 1.5rem;
  }

  &__content {
    padding-bottom: 3rem;
    grid-column: 2 / -2;
  }
  &.component--full-height {
    #{$c}__content {
      padding: 3rem 0;
    }
  }

  &__content-text {
    margin-bottom: 1.5rem;
    max-width: 32.0625rem;
    text-wrap: pretty;
  }

  &__content-wrapper {
    border-left: 0.0625rem solid var(--main-text-color);
    padding-left: 1.5rem;
  }

  & .c-social-icons {
    justify-content: flex-start;
    margin-bottom: 1rem;
  }

  &__icons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__media {
    aspect-ratio: 1 / 1;
    grid-column: 1 / -1;
    max-height: 700px;
    width: 100%;
  }

  & .c-image,
  .c-image--live-editing,
  picture {
    height: 100%;
    object-fit: cover;
  }

  // Desktop styles
  @media screen and (min-width: 1279px) {
    padding-bottom: 6rem;

    &__content {
      padding: 0;
      grid-column: 9 / -2;
      align-self: center;
    }
    &.component--full-height {
      padding-bottom: 0;
      &__content {
        padding: 6rem 0;
      }
    }

    &__media  {
      grid-column: 1 / 8;
      grid-row: 1;
      justify-self: end;
      max-width: 700px;
      height: 100%;
      align-self: center;

      &--auto-height {
        height: auto;
      }
    }

    &--right {
      #{$c}__content {
        grid-column: 2 / 7;
      }

      #{$c}__media {
        grid-column: 8 / -1;
        justify-self: start;
      }
    }
  }
}
