.c-text-block {
    display: grid;
    gap: 1rem;

    a {
        color: inherit;
    }

    h1{ font-size:var(--extra-large-heading) }
    h2{ font-size:var(--large-heading) }
    h3{ font-size:var(--medium-heading) }
    h4{ font-size:var(--small-heading) }

    p, li{
        font-size:var(--paragraph);
        line-height: var(--line-height);
    }
}