.c-hero--simple {
    display: grid;
    grid-template-columns: var(--twelve-column-grid);

    &--content-align-center {
        align-items: center;
        text-align: center;
    }

    .c-heading {
        grid-column: 2 / -2;
    }
}