.c-date-input {
    display: grid;
    gap: 4px;
    color: var(--main-text-color);

    &__label {
        font-size: var(--label);
        line-height: var(--line-height);
    }

    &__input {
        padding: 12px 48px;

        @supports not selector(::-webkit-calendar-picker-indicator) {
            padding: 12px 48px 12px 16px;
        }

        border-radius: 4px;
        border: 2px solid;
        position: relative;
        background-color: transparent;
        color: var(--main-text-color);
        
        &::placeholder {
            opacity: 1;
            color: var(--brand-grey-400, #B6B6B8);
        }

        &:focus {
            border: 2px solid var(--interaction-color, #2566F2);
            outline: none;
        }

        &::-webkit-calendar-picker-indicator {
            background: transparent;
            bottom: 0;
            color: transparent;
            cursor: pointer;
            height: auto;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: auto;
        }
    }

    &__helper {
        display: flex;
        gap: 8px;
        font-size: var(--paragraph-small);
        line-height: var(--line-height);
        color: var(--main-text-color);
    }

    &__icon, &__input, &__dropdown-arrow {
        grid-row: 2;
        grid-column: 1;
        align-self: center;
    }

    &__icon {
        pointer-events: none;
        justify-self: start;
        margin-left: 16px;
    }

    @supports not selector(::-webkit-calendar-picker-indicator) {
        &__icon {
            display: none;
        }
    }

    &__dropdown-arrow {
        pointer-events: none;
        justify-self: end;
        margin-right: 16px;
    }

    &__error {
        display: none;
        color: var(--error-color, #BF2323);
        gap: 8px;
        font-size: var(--paragraph-small);
        line-height: var(--line-height);
    }
}