.c-footer {
  $c: &;
  padding: 3.5rem 1rem;
  display: grid;
  gap: 1rem;
  place-items: center;
  background: var(--main-background-color);
  color: var(--main-text-color);

  &__logo-link {
    text-decoration: none;
    color: var(--main-text-color);
    font-family: var(--logo-font), Lato, sans-serif;
    white-space: nowrap;
    font-size: 4.58025rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-wrap: wrap;
    white-space: normal;
    word-break: break-word;
    text-align: center;
    padding: 0 1rem;
    .c-image {
      max-width: 24rem;
    }
  }
  &__navlist {
    display: flex;
    gap: 1.5rem;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    place-content: center;
    &__item {
      &__link {
        text-decoration: none;
        color: var(--main-text-color);
        white-space: nowrap;

        &:hover,
        &:active {
          border-bottom: 1px solid var(--main-text-color);
          color: var(--main-text-color);
        }
      }
      &--active {
        #{$c}__navlist__item__link {
          border-bottom: 1px solid var(--main-text-color);
          color: var(--main-text-color);
        }
      }
    }
  }

  &__content {
    padding-top: 7rem;
    text-align: center;
    color: var(--main-text-color);

    a {
      color: var(--main-text-color);
    }
  }
}
